.page {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invite__form {
  text-align: center;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 20vh;
}

.invite__title {
  margin: 0;
  padding: 10px 0;
}

.invite__action {
  text-align: left;
}

button {
  font-size: 15px;
  text-align: center;
  background-color: rgb(250, 139, 181);
  color: white;
  margin: 0;
  top: 500px;
}

.p5Canvas {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(49, 253, 94, 0.514);
}